*{
    margin:0;
    padding: 0;
    font-family: 'Montserrat', cursive;
    }
#title{
    position:absolute;
    z-index:100;
    height:80px;
    width: 100%;
}
#carousal{
    z-index:2;
    position: relative;

}
#products{
    background-color: #E8D5C4;
    padding:0% 10% 5%;
}
.depak-img{
    margin-left: 25%;
}
@media(max-width:1024px){
    #title{
        height:1000px;
        width: 100%;  
    }   
    .depak-img{
        margin-left: 13px;
        width:130px;
    }
    
}
.nav-link{
    font-size:1rem; 
}
.fa-sharp{
    padding-left: 10px;
}
.fa-sharp:hover,.nav-link:hover{
    color: #F9D949 !important;
} 
 .navbar{
    width: 100%;
    height: 50px;
    padding-top: 0px;
    padding-bottom:0px;
    /* backdrop-filter: blur(5px); */
 }
.container-fluid{
    padding-left:0%;
    padding-right:0%;
}
.nav-item{
    font-size:1rem;
    font-weight: 600;
    color: #fff;
}
.nav-item>a>img{
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.Heading{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 4.5rem;
    text-align:left;
    display: block; 
    left: 5%;
    top: 15%;
    right:30%;    
}
.small-lines1{
    font-family: 'Allura', cursive;
    position:absolute;
    color: #fff;
    top: 40%;
    left: 5%;
    display: inline-block;
    font-size:2.5rem ;
    text-align:left ;

}
@media (max-width:1024px){
    .Heading{
        position: absolute;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 1.4rem;
        text-align: left;
        display: inline-block; 
        left: 5%;
        top: 25%;
        right: 19%; 
    }
    .small-lines1{
        font-family: 'Allura', cursive;
        position:absolute;
        color: #fff;
        top: 50%;
        left: 5%;
        display: inline-block;
        font-size:1rem ;
        text-align:left ;
        
    }
    

}
.Image{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.Heading2{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 4.5rem;
    text-align:left;
    display: block; 
    left: 5%;
    top: 15%;
    right: 9%;    
}
.small-lines2{
    font-family: 'Allura', cursive;
    position:absolute;
    color: #fff;
    top: 40%;
    left: 5%;
    display: inline-block;
    font-size:2.5rem ;
    text-align:left ;
    padding-top: 5px;
}
@media (max-width:1024px){
    .Heading2{
        position: absolute;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 1.4rem;
        text-align: left;
        display: inline-block; 
        left: 5%;
        top: 20%;
        right: 9%; 
    }
    .small-lines2{
        font-family: 'Allura', cursive;
        position:absolute;
        color: #fff;
        top: 60%;
        left: 5%;
        display: inline-block;
        font-size:1rem ;
        text-align:left ;
    }
}
.Image2{
    object-fit: cover;
    object-position: center;
    width: 100%;
}
.Image3{
    object-fit: cover;
    object-position: center;
    width: 100%;
    
}
.Heading3{
    position: absolute;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    font-size: 4.5rem;
    text-align:left;
    display: block; 
    left: 5%;
    top: 15%;
    right: 9%;    
}
.small-lines3{
    font-family: 'Allura', cursive;
    position:absolute;
    color: #fff;
    top: 40%;
    left: 5%;
    display: inline-block;
    font-size:2.5rem ;
    text-align:left ;
}
@media (max-width:1024px){
    .Heading3{
        position: absolute;
        font-family: 'Raleway', sans-serif;
        color: #fff;
        font-size: 1.4rem;
        text-align: left;
        display: inline-block; 
        left: 5%;
        top: 22%;
        right: 9%; 
    }
    .small-lines3{
        font-family: 'Allura', cursive;
        position:absolute;
        color: #fff;
        top: 65%;
        left: 5%;
        display: inline-block;
        font-size:1rem ;
        text-align:left ;
    }
}
.Heading,.Heading2,.Heading3{
    padding-left: 10px;
}
@media (max-width:1024px){
    .Heading1,.Heading2,.Heading3{
        padding-left: 10px;
    }
    .small-lines1,.small-lines2,.small-lines3{
        padding-left: 10px;
      
    }
}
.small-lines1,.small-lines2,.small-lines3{
    padding-left: 10px;
}
@media (min-width: 280px) and (max-width: 768px) {
    .navbar{
        padding:0px;
        z-index:3;
        width: 100%;
        height:auto;
        }
    .ul-bg{
        background-color:rgb(255, 115, 29,0.75);
        width: 100%;
        text-align:right;
        }

}
.product-heading{
    padding-top: 45px;
    text-align: center;
    padding-bottom: 15px;
}
.product-para{
    text-align: center;
    font-size: 1rem;
    padding:0 10% 0 10% ;
    padding-bottom: 15px;
}
#footer{
    color: #fff;
    padding-top: 80px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 80px;
    background-color: #2A2F4F;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
#footer>div{
    font-size: large;
}
h4{
    font-weight: 800;
}

.flexi{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    align-items: flex-start;
    flex-wrap: wrap;
}
.links{
    text-decoration: none;
    color: #fff;
}
.links:hover{
    font-weight: 600;
    color: #F7D060;
}
.image-part{
    display:inline-flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 30px;
    justify-content: space-between;
}
.sub-footer{
    background-color: #917FB3;
    padding-block: 10px;
}
.sub-footer>div{
    flex-wrap: wrap;
    padding-top: 10px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    font-weight:600 ;
    
}
@media screen and (max-width:768px) {
    #footer{
        gap: 30px;
    }
    #footer>div{
        font-size: small;
    }
    .flexi{
        font-size: small;
    }
    .image-part{
        gap:15px;
    }
    
}
@media screen and (max-width:450px) {
    #footer{
        flex-direction: column;
        align-content: flex-start;
        justify-content:center;
    }
    .sub-footer>div{
        font-size:small;
        padding-left:10% ;
        padding-right:10%;
    }
}

/* Styling Cards */
@media screen and (max-width:460px){
    #products{
        display: none;
    }
    #products-mobile{
        display:initial;
    }
    .item-card-m{
    width:45%;
    padding:10px;
    box-sizing:border-box;
    padding-bottom: 30px;
    
    }
    .container-div-m{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        background-color: #fff;

    }
    .div-img-m>img{
        width: 100%;
        border-radius: 10px 10px 0 0;
        padding: 1px;
        background-color:#F8E8EE;
    }
    .div-img-m{
        border-radius:10px;
    }
    .box-m{
        background-color:#F8E8EE;
        border-radius: 10px;
    }
    .card-end-m{
        display:inline-flex;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .button-link-m{
        display: inline-flex;
        width: 100%;
        text-decoration: none;
    }
    .label-m{
        margin-top: 2px;
        font-size: 15px;
        margin-right: 20px;
        font-weight: 900;
        color: #FF8400;
    }
    .mrp-m{
        font-size: 15px;
        font-weight: 800;
    }
    .name-m{
       display: flex;
       padding-block: 2px;
       padding-left:5px;
       padding-right: 5px;
       font-weight: 700;
       font-size: 13px;
       text-align: center;
    }
    .button-m{
        font-size:14px;
        font-weight: 600;
        width: 100%;
        border: 2px solid #FF8400;
        color: #FF8400;
        border-radius:10px;
        background-color: #fff;
    }



}
.mobile-view{
    display: none;
}
.container-div .item-card{
    width: 300px;
    height:380px;
}
.container-div{
    display:flex;
    justify-content:center;
    gap: 28px;
    flex-wrap: wrap;
}
.item-card{
    background-color: aliceblue;
    border: none;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border-radius: 15px;
}
.item-card:hover{
    transform:scale(1.1);
}
.item-card>div>img{
    width: 100%;
    padding: 5%;
    border-radius: 15px;
}
.item-card>div{
    width: 100%;
    border: none;
}
.😁{
    font-size:14px;
    font-weight: 900;
    margin-block: 0;
    padding-left: 15px;
}
.card-end{
    width:100%;
    display: flex;
    justify-content:center;
    margin-left: 10px;
    padding-right: 10px;
}
.😀{
   font-size: 13px; 
   padding:1%;
   border:solid 2px #d84b2f;
   background-color: #E74646;
   color: white;
   border-radius:15px;
   margin-right: 10px;
}
.😀:hover{
    background-color: #fff;
    color: #E74646;
    font-weight: 600;
}
.item-card>.card-end>p{
    flex:2;
}
.💌{
    flex: 1;
    font-weight: 900;
    color: #FF8400;
    display: inline;
    /* padding-right:0%;   */
}
.card-end a{
    width: 100px;
}
.🚕{
    margin-left: 10px;
    color: black;
    font-weight: 800;
    font-size: 16px;
}